@use "base/variables" as v;
@use 'base/mixins' as m;



.particles{
    position: relative;
    height: 100rem;
    display: flex;
    justify-content: center;
    @include m.desktop {
        height: 60rem;
    }
    .main{
        position: absolute;
        z-index: -1;
        margin-top: 2rem;
        
        @include m.desktop {
            display: grid;
            width: 60%;
            grid-template-columns: 1fr 1fr;
            column-gap: 5rem;
            place-items: center;

            
        }


    }


}

.home-img{
    display: flex;
    justify-content: center;
    img, picture{
        display: block;
        @include m.tablet {
            max-height: 80rem;
            max-width: 50rem;
            min-height: 40rem;
            min-width: 30rem;

        }
    }
}

.info-text{
    
    span{
        font-weight: bold;
        font-size: 3rem;
        
    }

    span::after{
        content: '\A';
        white-space: pre;
    }
    p{
        font-size: 1.5rem;
        line-height: 2;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}