@use 'base/variables' as v;
@use 'base/mixins' as m; 

.proyectos-contenedor{
    background-color: lighten(v.$color_principal, 7%);
    padding: 2rem 4rem;
    box-shadow: 0 5px 200px rgba(88, 88, 88, 0.5);
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
} 

.proyecto{
    background-color: rgba(80, 80, 80, 0.1);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    padding: .5rem;
    text-align: center;
    margin-bottom: 4rem;
    overflow: hidden;
    box-shadow: -3px 4px 20px 8px v.$color_principal;
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 8rem;
        padding: 2rem 8rem;
        column-gap: 2rem;
        
        align-items: center;
        &::nth-child(odd){
            flex-direction: column-reverse;
        }
    }
    

}

.proyecto-info{
    h4{
        font-size: 3rem; 
        margin-bottom: 0;
        text-transform: uppercase;
    }

    p{
        text-align: left;
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: .2rem;
    }

    padding: 0 1rem;

    @include m.telefono {
        padding: 0 4rem;
    }

    @include m.tablet {
        padding: 0rem;
    }


}

.proyecto-img{
    margin-top: 4rem;

    @include m.tablet {
        margin-top: 0;
    }
}

.proyecto-opciones{
    display: flex;
    justify-content: space-around;
    a{
        padding: .9rem;
    }
}